#map {
  position:fixed;
  top:180px;
  bottom:0%;
  right:0;
  left:50%;
}
#imageanimation{
  position:fixed;
  top:0;
  right:0;
  left:25%;
  height:180px
;
  width:25%;
}
#info{
  position:fixed;
  top:0;
  bottom:0%;
  right:75%;
  left:0;
  height:180px;
  overflow:hidden;
  background:#fff;
  overflow:auto;
}
#info div{
  margin:5px;
}
.datappoints{
  margin-top:1em;
}
#imageanimation .animation img{
  width:100%;
  background-size:100% 100%;
}
#graph{
  position:fixed;
  top:0;
  right:0;
  left:50%;
  height:180px
;
}
.datawidth{
 
  overflow:hidden;
  word-wrap: break-word;
}
#container{
  margin:0px;
}
#allimages{
  width:50%;
  position:fixed;
  top:180px;
  bottom:130px;
  right:0;
  left:0;
  overflow:auto;
}
#allimages img{
  width:20%;
}
#json{
  width:50%;
  font-family:monospace;
  position:fixed;
  height:130px;
  bottom:0px;
  right:0;
  left:0;
  overflow:auto;
}
#json h2 a{
  font-size:0.5em;
  text-decoration:none;
}
body { 
  margin: 0; 
  font-family: verdana, arial, sans-serif;
  font-weight:normal;   
  font-size:13px;
}
h2{font-family:'Raleway';margin-top:0px;}
ul.infobox, ul.infobox li{
  padding:0px;
  margin:0px;
  list-style: 0px;
}
/* All of this is from cibi.me */

#branding {
  height: 0;
  overflow: visible;
  position: relative;
  z-index: 100;
  color: #fff;
  background-color: #444;
  font-family: 'Raleway', sans-serif;   
  border:1px solid #ccc;
}

/* the logo */
#logo {
  position: absolute;
  top: 1.5em;
  right: 0;
  overflow: hidden;
  padding: 5px;    
  background-color: #68aff7;       
  width:300px;  
  font-family: 'Raleway', sans-serif;    
}
#logo h1,#logo h2{
  margin:0px;
  padding:0px;
}  
#logo h2{  
  font-size:1.2em;  
}
#logo a:link,#logo a:visited{
  color:#fff;  
  text-decoration:none; 
}
#logo h2 a:link, #logo h2 a:visited{   
  color: #1A44AE;   
} 
#logo a:hover, #logo h2 a:hover{   
  color: #000;    
}
/* AddThis */
#branding .addthis_toolbox {
  margin: 0.5em 0 0 0.5em;
  float: left;
  min-width: 163px;
}

/* Navigation: Main Menu */
#main-menu {
  padding: .25em;
  float: right;
}
#main-menu li {
  float: left;
}
#main-menu a {
  display: block;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.75;
  text-decoration: none;
  padding: 0 0.75em;
  position: relative;
  z-index: 1000;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
#main-menu a:hover {
  background-color: #333;
}

/* Location Search Form */
#branding .search {
  padding: 1em;
}
#branding .search input {
  width: 15em;
  padding: 0.5em;
  background: #eee;
  border: 0;
  font-weight: bold;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

  background-image: linear-gradient(bottom, rgb(229,229,229) 0%, rgb(208,208,208) 100%);
  background-image: -o-linear-gradient(bottom, rgb(229,229,229) 0%, rgb(208,208,208) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(229,229,229) 0%, rgb(208,208,208) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(229,229,229) 0%, rgb(208,208,208) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(229,229,229) 0%, rgb(208,208,208) 100%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(229,229,229)),
    color-stop(1, rgb(208,208,208))
  );
}
#branding .search ::-webkit-input-placeholder { color: #777; }
#branding .search :-moz-placeholder { color: #777; }


@media only screen and (min-width: 768px) {
  #logo {
    right: 0;
    top: 2em;
  }

  #logo .ribbon {
    height: 5em;
  }

  #site-title {
    font-size: 2.25em;
  }
  #site-description {
    font-size: 1.25em;
  }

  /* Map UI */
  .leaflet-control-zoom {
    display: block;
  }
  .leaflet-container .leaflet-control-attribution {
    font-size: 10px;
  }
}
